certifi==2022.12.7+computecanada
charset-normalizer==3.0.1+computecanada
contourpy==1.0.5+computecanada
cycler==0.11.0+computecanada
fonttools==4.38.0+computecanada
idna==3.4+computecanada
kiwisolver==1.4.4+computecanada
matplotlib==3.6.1+computecanada
numpy==1.23.0+computecanada
packaging==23.0+computecanada
Pillow==9.3.0+computecanada
Pillow-SIMD==9.0.0.post1+computecanada
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
requests==2.28.2+computecanada
six==1.16.0+computecanada
torch==1.13.1+computecanada
torchvision==0.14.1+computecanada
tqdm==4.64.1+computecanada
typing-extensions==4.4.0+computecanada
urllib3==1.26.14+computecanada
